.footer-section {
  border-top: 1px solid #246faf;
  background: #fff;
  padding: 60px 0 40px 0;
  font-size: 0.9rem;
}


.footer-column {
  position: relative;
  padding: 0 40px;
  text-align: left;
}


.footer-column:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #246faf;
}


.footer-title {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #246faf;
}


.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 0.45rem;
  color: #1b1b1b;
  font-size: 0.87rem;
}


.newsletter-title {
  font-size: 0.62rem;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin: 1.2rem 0 0.7rem 0;
  color: #246faf;
  text-align: center;
}

.newsletter-input {
  width: 85%;
  padding: 7px 12px;
  border: 1px solid #c8d3dd;
  background: #f2f5f7;
  border-radius: 6px;
  font-size: 0.85rem;
  display: block;
  margin: 0 auto;
}


.footer-bottom {
  border-top: 1px solid #246faf;
  padding-top: 18px;
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}

.footer-copy {
  color: #246faf;
}

.footer-made {
  color: #246faf;
}

.footer-separator {
  width: 100%;
  height: 1px;
  background: #246faf;
}


@media (max-width: 768px) {

  .footer-section {
    padding: 30px 0 20px 0;
  }


  .footer-column {
    width: 50% !important;
    padding: 10px 15px !important;
    border: none !important;
    text-align: left !important;
  }


  .footer-column:nth-child(1) {
    display: none !important;
  }


  .newsletter-title,
  .newsletter-input {
    display: none !important;
  }


  .footer-column:nth-child(2) {
    order: 2;
    text-align: left !important;
  }


  .footer-column:nth-child(3) {
    order: 1;
    text-align: left !important;
  }


  .footer-column::before {
    display: none !important;
  }


  .footer-bottom {
    margin-top: 25px;
    padding-top: 18px;
    display: block;
    text-align: center;
  }

  .footer-copy,
  .footer-made {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
  }

  .footer-separator {
    width: 100%;
    height: 1px;
    background: #246faf;
  }

}