.spiaggia-privata-section {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  /* Immagine */
  .spiaggia-privata-img-wrapper {
    width: 100%;
    height: 450px;
    overflow: hidden;
  }
  
  .spiaggia-privata-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Overlay */
  .spiaggia-privata-section::before {
    content:'';
    position:absolute;
    inset:0;
    background: rgba(0,0,0,0.4);
    z-index:1;
  }
  
  /* Contenuto */
  .spiaggia-privata-content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -45%);
    color:white;
    text-align:center;
    z-index:2;
  }
  
  /* Marquee */
  .spiaggia-marquee-wrapper {
    overflow:hidden;
    white-space:nowrap;
  }
  
  .spiaggia-marquee-inner {
    display:inline-block;
    padding-left:100%;
    animation:spiaggia-marquee 18s linear infinite;
    font-family:'Playfair Display', serif;
    font-size:3.2rem;
    font-weight:600;
  }
  
  .spiaggia-marquee-inner span {
    margin-right:3rem;
  }
  
  @keyframes spiaggia-marquee {
    from { transform: translateX(0); }
    to   { transform: translateX(-100%); }
  }
  