/* BASE TYPOGRAPHY + GLOBAL */
@import url('./base.css');

/* HEADER */
@import url('./header.css');

/* HERO + SPLIDE */
@import url('./hero.css');

/* LOCATION */
@import url('./location.css');

/* SPIAGGIA PRIVATA (marquee) */
@import url('./spiagge.css');

/* BAR & RESTAURANT + ATTIVITA */
@import url('./restaurant.css');

/* MATRIMONI PARALLAX */
@import url('./matrimoni.css');

/* OFFERTE CARDS */
@import url('./offerte.css');

/* FOOTER */
@import url('./footer.css');
